*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    height: 80px;
    padding: 20px;
    background-color: #0074e7;
}

.title{
    font-size: 20px;
    color: #fff;
}

.body{
    margin-top: 20px;
}

.inputs{
    width: 50%;
    margin: auto;
}

.inputs *{
    margin: 10px 0;
}

.inputs h2{
    font-size: xx-large;
    text-align: center;
}

.inputs label{
    font-size: larger;
    display: block;
    text-align: center;
}

.inputs input{
    width: 80%;
    height: 30px;
    padding: 5px;
    margin: auto;
    display: block;
    text-align: center;
}

.inputs button{
    width: 50%;
    height: 35px;
    padding: 3px;
    margin: 10px auto;
    background-color: #207be6;
    color: white;
    border: none;
    border-radius: 10px;
    display: block;
    text-align: center;
    transition: ease-in-out 0.5s;
}

.inputs button:hover{
    background-color: #135cb0;
    color: #f0ecec;
}

.table table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0441aa;
  color: white;
}

.body canvas {
    border:1px solid #000000;
    margin: auto;
    display: block;
}

.buttons {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.buttons button {
    height: 35px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 4px;
    background-color: #207be6;
    color: white;
    border: none;
    text-align: center;
    transition: ease-in-out 0.5s;
}

.buttons div {
    padding: 5px;
    border-radius: 5px;
    background-color: #1b6dca;
}

.body {
    margin-bottom: 20px;
}